<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/groups/">Groupe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                {% include 'groups/modal_new_group.html' %}
            </li>
            <li class="nav-item active">
                {% include 'groups/modal_new_admin_group.html' %}
            </li>
            <li class="nav-item active">
                {% include 'groups/modal_auto_creation.html' %}
            </li>
            <li class="nav-item active">
                {% include 'groups/modal_auto_fill.html' %}
            </li>
        </ul>
    </div>
</nav>
