
{% load django_markdown %}
<center><h2>{{ homework.name }}</h2></center>
<br>
{% if homework.pldm.json.introduction %}
    {% with texth__=homework.pldm.json.introduction|markdown %}
        {{ texth__|safe }}
    {% endwith %}
{% endif %}
<br>
<form action="/courses/course/subject/" method="get">
    <div class="container;pull-left" style="width: 50%">
        <input type="hidden" name="id" id="id" value="{{ homework.id }}">
        <input type="hidden" name="id_required_group" id="id" value="{{ homework.id_requiredgroup }}">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-dark btn-lg" value="Submit" title="Sujet du devoir maison">Sujet</button>    
            </span>
        </div>
    </div>
</form>
<br>
<table class="table table-bordered"> 
<tbody>
    <tr>
    <td><b>Date de remise</b></td>
    <td>{{ homework.date_deposit_end }}</td>
    </tr>
    <tr>
    <td><b> Etat du groupe </b></td>
    {% if in_group %}
        <td> Créé <i class="far fa-check-circle"></i></td>
    {% else %}
        <td> Non Créé <i class="far fa-times-circle"></i></td>
    {% endif %}
    </tr>
    <tr>
        <td><b>Temps restant</b></td>
        {% if not can_deposit %}
        <td> Le devoir est en retard de {{ remaining_time }}</td>
        {% else %}
        <td> {{ remaining_time }} </td>
        {% endif %}
    </tr>
    <tr>
    <td><b>Fichier à déposer</b></td>
    <td>{{ homework.deposit_number }}</td>
    </tr>
    <tr>
    <td><b>Taille limite</b></td>
    <td>{{ homework.deposit_size }} Mb</td>
    </tr>
    <tr>
    <td><b>Fichier autorisé</b></td>
    <td>{{ homework.extension }}</td>
    </tr>
</tbody>
</table>
<br>                   
{% if is_teacher %}
<form action="/courses/course/notation/" method="get">
    <div class="container;pull-left" style="width: 50%">
        <input type="hidden" name="id" id="id" value="{{ homework.id }}">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-dark btn-lg" value="Submit" title="Accéder à la notation des devoirs">Notation</button>    
            </span>
        </div>
    </div>
</form>
{% endif %}
{% if deposit %}
<table class="table table-bordered"> 
    <tbody>
    {% for answer in answers %}
        {% for file in answer.deposits.all %}
        <tr>
            <td class="align-middle">Rendu n°{{ forloop.counter }} 
            {% if today >  homework.date_deposit_end %}
                (En retard)
            {% else %}
                (En avance)
            {% endif %}
            </td>
            <td>
                <a class="btn btn-link" href="/courses/course/download/?id={{ file.id }}&id_homework={{homework.id}}" role="button">{{ file.name }}</a>
            </td> 
            <td style="width: 40px;">
                <a class="btn btn-link" href="/courses/course/remove_uploaded/?id={{ file.id }}&id_homework={{homework.id}}&id_answer={{ answer.id }}" role="button">
                    <i class="fas fa-times"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if can_deposit or can_be_late%}
    {% if in_group %}
        <h2><center>Rendre le devoir</center></h2>
        <form method="post" action="/courses/course/upload/" enctype="multipart/form-data">
            <input type="hidden" name="id_homework" value="{{ homework.id }}">
            <input type="hidden" name="id_requiredgroup" value="{{ homework.id_requiredgroup }}">
            <input id="input-b1" name="myfile" type="file" class="file">
            {% csrf_token %}
        </form>  
    {% endif %}
{% endif %}

<br><br>





